.font-size-16{
    font-size:16px !important;
}

.color-white{
    color: white;
}

.text-decoration-none{
    text-decoration: none !important;
}

.display-none {
    display: none;
}

.margin-left-30p{
    margin-left: 30px;
}