.font-size-16 {
    font-size: 16px !important;
}

.color-white {
    color: white !important;;
}

.text-decoration-none {
    text-decoration: none !important;
}

.display-none {
    display: none !important;;
}

.margin-left-30p {
    margin-left: 30px !important;;
}

.margin-left-180p {
    margin-left: 180px !important;
}

.margin-left-0p {
    margin-left: 0px !important;
}

.backgroup-gray {
    background-color: #BDBDBD !important;
}

.opacity-1 {
    opacity: 1;
}